<%= provide(:title, 'EventPlanner: Edit Event') %>

<h1>Edit Event</h1>

<%= form_for @event do |form| %>
    <% if @event.errors.any? %>
        <h2>Errors:</h2>
        <ul>
          <% @event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>
    <p>
      <%= form.label :title %><br />
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :content %><br />
      <%= form.text_area :content %>
    </p>
    <p>
      <%= form.submit "Update Event" %>
    </p>
<% end %>