<%= provide(:title, 'EventPlanner') %>

<h1>Featured Events</h1>

<% @events.each do |event| %>
    <h2><%= link_to event.title, event %></h2>
    <p><%= event.content %></p>
    <p>
      <%= link_to "Edit", edit_event_path(event) %> |
      <%= link_to "Delete", event, :confirm => "Are you sure you want to delete?", :method => :delete %>
    </p>
    <hr />
<% end %>

<p><%= link_to "Add a new event", new_event_path %></p>