<h1>Add a new event</h1>

<%= form_for @event do |form| %>
    <p>
      <%= form.label :title %><br />
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :content %><br />
      <%= form.text_area :content %>
    </p>
    <p>
      <%= form.submit "Add a new event" %>
    </p>
<% end %>