<%= provide(:title, @event.title) %>

<div class="event_detail">
  <p class="title"><%= @event.title %></p>

  <% if @event.date.year == Date.today.year %>
    <p class="date"><%= @event.date.strftime("%A, %B %-d at %l:%M %P") %></p>
  <% else %>
    <p class="date"><%= @event.date.strftime("%A, %B %-d, %Y at %l:%M %P") %></p>
  <% end %>

  <p class="type_venue"><%= @event.event_type %> at <%= @event.venue %></p>

  <div class="text"><%= simple_format(@event.content) %></div>

  <div class="book_form">
    <% if @my_events.include?(@event) %>
        <p>
          You already have tickets for this event!
        </p>
    <% else %>
        <%= form_for([current_user, current_user.tickets.build]) do |form| %>
            <%= form.hidden_field :event_id, :value => @event.id %>
            <span>
              <%= form.label :quantity %><br>
            </span>
            <span>
              <%= form.text_field :quantity, :value => '1' %>
            </span>
            <span>
              <%= form.submit 'Book', {:class => 'button'} %>
            </span>
        <% end %>
    <% end %>
  </div>
  <p class="tickets"><%= @event.tickets_avail %> out of <%= @event.tickets_total %> tickets available</p>
</div>