<%= provide(:title, @event.title) %>

<div class="event_detail">
  <p class="title"><%= @event.title %></p>

  <p class="date"><%= @event.date.strftime("%A, %B %d at %l:%M %P") %></p>

  <p class="type_venue"><%= @event.event_type %> at <%= @event.venue %></p>

  <div class="text"><%= simple_format(@event.content) %></div>
  <div class="book"><%= button_to "Book" %></div>
  <p class="tickets"><%= @event.tickets_avail %> out of <%= @event.tickets_total %> tickets available</p>
</div>