<div class="event_preview">
  <% @event = Event.find(preview_tickets.event_id) %>
  <p class="title"><%= link_to @event.title, @event %></p>
  <p class="date"><%= @event.date.strftime('%A, %B %d at %l:%M %P') %></p>
  <div class="text"><%= simple_format(@event.content) %></div>
  <% @keyword = preview_tickets.quantity.to_i == 1 ? 'ticket' : 'tickets' %>
  <div class="user_tickets">You have <%= preview_tickets.quantity %> <%= @keyword %> for this event.</div>
  <hr/>
</div>