<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <div id="header">
    <%= link_to 'EventPlanner', root_path %>
  </div>
  <!-- end header -->

  <div id="nav">
    <ul>

      <% if user_signed_in? %>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: 'delete' %>
          </li>
          <li>
            <%= link_to 'My Events', my_events_path %>
          </li>
          <li>
            <%= link_to 'Featured Events', events_path %>
          </li>
      <% else %>
          <li>
            <%= link_to 'Register', new_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Login', new_user_session_path %>
          </li>
      <% end %>
    </ul>
  </div>
  <!-- end nav -->

  <div id="content">

    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    </div><!-- end content -->

  <div id="footer">
    &copy; EventPlanner <%= Date.today.year %>
  </div><!-- end footer -->
</div><!-- end container -->

</body>
</html>
